& .ListaTarefas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 32vh;
    width: 100%;
    text-align: center;
    padding: 2vh 0 0 0;
    & ul {
        width: 100vw;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}