

.card{
    background-color: white;
    padding: 20px 15px;
    border-radius: 5%;
    border: 1px solid #0F70BC;
    display: flex;
    align-items: flex-start;
    gap: 1vh;
    width: 30vw;
    margin-bottom: 1vh;

    & p{
        font-size: 12px;
    }
}
