* {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
}

main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 50vh;
}

.div_logo {
    justify-content: center;
    align-items: center;
}

.logo {
    height: 15vh;
    width: 40vh;
}

.login {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.entrar {
    display: flex;
    justify-content: flex-start;
    font-size: x-large;
    color: darkblue;
}

.campos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3vh;
}

.botaoLogin {
    background-color: #0F70BC;
    color: white;
    cursor:pointer;
    box-shadow: none;
    border: none;
    height: 5vh;
    width: 30vh;
    border-radius: 0%;
    font-size: medium;
}

.username, .senha {
    display: flex;
    align-items: center;
    border-bottom: 0.2vh solid black;
}

input {
    border: none;
    height: 4vh;
}

input:focus {
    outline: none;
}

h1{
    padding-bottom: 1rem;
}