.cadastro {
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;
    width: 100%;
    height: 100%;
}

.entrar {
    display: flex;
    justify-content: flex-start;
    font-size: x-large;
    color: darkblue;
}

.campos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3vh;
}

.botaoCadastro {
    background-color: #0F70BC;
    color: white;
    cursor:pointer;
    box-shadow: none;
    border: none;
    height: 5vh;
    width: 30vh;
    border-radius: 0%;
    font-size: medium;
}

.username, .senha, .telefone, .email {
    display: flex;
    align-items: center;
    border-bottom: 0.2vh solid black;
    width: 40vh;
    font-size: 1rem;
}

input {
    border: none;
    height: 4vh;
    font-size: 1rem;
}

input:focus {
    outline: none;
}