.div_lista_projetos {
    padding-top: 4vh;

    & .linkCriarProjeto {
        text-align: center;
        background-color: white;
        margin-left: 30vw;
        margin-right: 30vw;
        width: 40vw;
        border-radius: 2%;
        border: 1px solid #0F70BC;
    }


    & h1 {
        padding-left: 10vw;
    }
}

.popup {
    position: fixed;
    width: 60vw;
    height: 40vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: white;
    border: 1px solid black;
    z-index: 1000;
}